.decoration-config .form-item {
  width: 30%;
  display: inline-table;
  margin: 5px 10px 1px 10px;
}

.selectors {
  margin-top: 20px;
  background-color: #f8f8f8;
  border: 1px dashed #cccccc;
}
.selectors .form-item {
  width: 30%;
  display: inline-table;
  margin: 5px 10px 1px 10px;
}

#global-settings-responsive .form-item {
  margin-right: 15px;
  display: inline-table;
}
